In [81]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import string

In [82]:
alpha_range = string.ascii_uppercase
elements = []
for page in alpha_range:
    url = f"https://br.advfn.com/bolsa-de-valores/bovespa/{page}"
    req = requests.get(url)
    soup = BeautifulSoup(req.content, "lxml")
    table = soup.find("div", class_="atoz_link_table TableElement")
    for tr in table.find_all("tr"):
        for td in tr.find_all("td"):
            elements.append(td.text)     

for page in range(0, 10):
    url = f"https://br.advfn.com/bolsa-de-valores/bovespa/{page}"
    req = requests.get(url)
    soup = BeautifulSoup(req.content, "lxml")
    table = soup.find("div", class_="atoz_link_table TableElement")
    for tr in table.find_all("tr"):
        for td in tr.find_all("td"):
            elements.append(td.text)

length = len(elements)

In [83]:
symbols = []
for symbol in range(1, length, 2):
       symbols.append(elements[symbol])

companies = []
for company in range(0, length, 2):
    companies.append(elements[company])

d_frame = pd.DataFrame({
    "Symbol": symbols,
    "Company": companies
}, index = range(1, len(symbols)+1))

In [91]:
d_frame

     Symbol                         Company
1    ACCC5L             ACARACOACARAPNA PNA
2     ADHM3                  ADVANCED-DH ON
3     ADHM1                  ADVANCED-DH ON
4     ADHM9                  ADVANCED-DH ON
5     AERI3  Aeris Industria E Comerc... ON
..      ...                             ...
942  XPLG12                XP LOG FII COTAS
943  XPML13                 XP Malls FD Inv
944   YDUQ3                 ESTACIO PART ON
945   RRRP3  3R Petroleum Oleo E Gas ... ON
946  QVQP3B            524 Participacoes ON

[946 rows x 2 columns]

In [86]:
d_frame.to_json("Bovespa stock list")